@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400i';
@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville';
.cart-container,
.customer-info {
    float: left;
}
.cart-container.grid,
.customer-info.grid {
    border: 15px solid #f5f6f8;
    border-top: 0;
}

.customer-info:after {
    content: "";
    display: block;
    clear: both;
}

.cart-container .media-body {
    vertical-align: middle;
}

.cart-header,
.cart-total {
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    background: #dedede;
    padding: 15px;
}

.cart-total {
    text-align: right;
}

.main div.cart-total>p {
    display: inline-block;
    color: #000;
    font-size: 30px;
}

.line {
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    line-height: 36px;
    background: #f5f6f8;
    /*text-shadow: 1px 1px 1px grey;*/
    color: #adacac;
    border-left: 15px solid transparent;
    /* background:  linear-gradient(to bottom, #0d2ea0 0%, #13245e 100%);*/
}

.cart-container .img-thumbnail {
    width: 100px;
    border: none;
    box-shadow: none;
}

div.cart-container h4 {
    color: #1f3796;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

div.cart-container p {
    color: #545454;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.cart-item-content,
.cart-input-quantity,
.cart-item-summ,
.cart-minus-button,
.cart-item-quantity,
.cart-plus-button,
.cart-delete-button {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.media-body {
    position: relative;
}
.cart-delete-button {
     position: absolute;
    top: 10px;
    right: 10px;
}
.cart-delete-sign img {
    width: 20px;
    height: 20px;
    cursor: pointer;   
}
.cart-item-quantity {
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: #000;
    background: #e4e9f3;
}

.cart-operation {
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    background: linear-gradient(to bottom, #0d2ea0 0%, #13245e 100%);
}

.cart-item-summ {
    text-align: center;
    font-size: 24px;
    color: #000;
    font-weight: 500;
}

.cart-total {
    overflow: hidden;
    padding-right: 80px;
}
.continue-button-wrapper {
    border-left: 15px solid transparent;
}
.cart-continue-buy {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    background: #e1e1e1;
    display: block;
    clear: left;
    color: #545454;
}
button.cart-continue-buy:hover {
    background: #949292;
    color: #000;
    border-color: #949292;
}

.customer-info-wrapper {
    width: 100%;
    margin: 0 auto;
    border: 2px solid #dedede;
}

.customer-info-heading {
    color: #000;
    /* border-bottom: 2px solid #dedede;*/
    padding: 15px 15px;
    background: #dedede;
}

.customer-info-heading h4 {
    margin: 0;
    line-height: 28px;
    font-size: 28px;
    color: #545454;
}

.order-confirm {
    margin-top: 15px;
}

.order-confirm .form-group {
    padding: 0 15px;
}

.order-confirm input {
    width: 80%;
}

.order-confirm button {
    background: #0d2ea0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 10px 25px;
    letter-spacing: .5px;
}
.order-confirm button:hover {
    background: #13245f;
    color: #fff;
}

.modal-cart.main-wrapper {
    top:0;
    
}