.main-submenu {
    position: absolute;
    background: #dedede;
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1.429;
    display: none;
    z-index: 5;
}
.main-submenu li {
    display: block;
    text-align: left;
    cursor: pointer;
    position: relative;
  
}

.products-navbar > ul > li:hover > ul.main-submenu {
    display: block;
}
.main-submenu li a {
    display: block;  
   background-color: transparent;   
    color: #545454;
    font-weight: 400;
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
   /* white-space: nowrap;*/
}

.main-submenu li a:hover {
    color: #000 ;  /*#0a247d          #09206f*/
    text-decoration: none;
    background: #b3b1b1;
}
