.main.news-content {
    overflow: hidden;
}

#banner1 img {
    width: 100%;
}

#banner1 .news-banner-content, #banner2 .news-banner-content {
    position: absolute;
    top: 30%;
    left: 0;
    color: #000;
    padding: 30px;
}

#banner1 .news-banner-content h1 {
    font-size: 60px;
    font-weight: 600;
}
#banner2 .news-banner-content h1 {
    font-size: 40px;
    font-weight: 600;
    color: #545454;
}
#banner1 .news-banner-content p, #banner1 .news-banner-content p {
    font-size: 20px;
    
}
#banner2 img {
    float: right;
}


/***********MEDIA OBJECT************/
div.media {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d6d6;
}

.media-object.img-thumbnail {
    width: 200px;
}
div.media h4 {
    margin: 20px;
    
}
div.media p{
    color: #000;
}
div.media a:hover {
    text-decoration: none;
}

#news-container2, #news-container3{
    float: left;
    padding: 20px;
    
}

#news-container2 img, #news-container3 img {
    width: 150px;
}
#news-container2 h4, #news-container3 h4 {
    font-size: 16px;
}

.news-content .media-body {
    position: relative;
} 

time {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/*ARTICLE*/

article {
        padding: 10px 15px 20px;
}
.article-header {
    position: relative;
}
.article-header time {
    position: relative;
    bottom: 0;
    right: 0;
    left: 5px;
    color: #000;
}
.article-content{
    padding-top: 10px;
}
